stuff/*
tests/output
.idea
data/raw
*_sources*

DS_Store
_.DS_Store
Pipfile.lock
__pycache__/
data/raw
notebooks/.ipynb_checkpoints/
exp_runs/
*~
*.pyc
experiments/train_model/evaluation
experiments/train_model/geometric_loss
experiments/train_model/speed
experiments/fit_competitor/evaluation
experiments/fit_competitor/geometric_loss
experiments/fit_competitor/speed
tex_Geom

